In [9]:
import numpy as np
import pandas as pd

In [11]:
matrix = pd.read_csv("csv/data.csv", quotechar='"', skipinitialspace=True).as_matrix()
print(matrix[:,10])

[nan nan nan nan 'infinity' 'A small loan of a million dollars' '100000'
 '10000000' '40000' 'Vlaamse frittekes' '1.000.000€' nan 'Googolplex Euros'
 '45000' '25.000' '2500 euro' 'trillions' '65.000 Euro' '€4.000' '€50.000'
 '50k' '40000' '50000' 'Eh no idea' 'milioni' '￥375000' 'enough' '60.000'
 '50000' '50.000 euro' '€120.000' '-1000 dollas' '€40.000,-' '120.000'
 '60000' '30000' 'A small loan of a million dollars' '7000 euros'
 'between €4000 - €5000 a montha' 'a lot' '500000' '?' '120000 euros'
 '40.000€' nan '€35.000' 'No idea' '35000' '3500' '40000' '60 000' '70000'
 '70000' '36 000' '300k' '120 000' '10000' '$100000' '£100,000' nan '70000'
 '50k' "Don't know" '3000 euro monthly' '140' '100.000' 'x' '€65.000,-'
 'A shit ton' '150k' '12_000_000' 'over 9000' '25000' '40k' '100.000' '50k'
 'BIG MONEY' 'One hunderd million trillion dollars' '$2661' 'not enough'
 '€42.000'
 'But you couldn’t, you didn’t, and now you’re paying the price, you goddamn idiot.'
 '3 nibbles' 'STAY AWAY FROM MY CHILDREN' nan '40000' '1000000'
 '€1.000.000' '120000' '?' '€500.000' '80000' '50.000' '2500' '70000'
 '2500' '20000 EUR' '50000 EUR' 'No idea' '4000 euro' '200.000' '70000'
 'I wanna be a billionaire so freaking bad' '50000' '€70.000'
 "I don't know" '1.000.000 Euros' '50000' '60000' '40.000'
 'Geen idee eigenlijk' '40000' '4k' '€40.000' 'A lot' '60.000' '€40.000'
 '1337000' '32000' '10000000e1000' '50k' 'Reasonable' '51k' '30000' nan
 '80000' '40000' nan '3 million' '50000000kk' '23403']

# Disclaimer

I manually filtered out empty rows at the beginning of the CSV file. It is still available in this repository under the name `data-original.csv`.