In [58]:
import numpy as np
import pandas as pd
import re

In [59]:
data = pd.read_csv("csv/data-original.csv", quotechar='"', skipinitialspace=True)
print(data)

    Landgrabbed                                Landgrabber          Base  \
0       Algeria                                   Al Qudra           UAE
1        Angola                   CAMC Engineering Co. Ltd         China
2        Angola                                        ENI         Italy
3        Angola                                   AfriAgro      Portugal
4        Angola                            Eurico Ferreira      Portugal
5        Angola                   Quifel Natural Resources      Portugal
6        Angola                                     Lonrho            UK
7     Argentina                                Grupo Maggi        Brazil
8     Argentina                                 Beidahuang         China
9     Argentina                            Ingleby Company       Denmark
10    Argentina                             AgroGeneration        France
11    Argentina                                 Calyx Agro        France
12    Argentina                          Campos Orientales        France
13    Argentina                        Terra Magna Capital        France
14    Argentina                                  DWS GALOF       Germany
15    Argentina                                     Sojitz         Japan
16    Argentina                          Al-Khorayef Group  Saudi Arabia
17    Argentina                                 Almarai Co  Saudi Arabia
18    Argentina                         Olam International    Singapore
19    Argentina  Korean Overseas Development Corporation\n   South Korea
20    Argentina                                  Adecoagro            US
21   Argentina                                  Siva Group    Singapore
22    Australia                                        JBS        Brazil
23    Australia      Alberta Investment Management Company        Canada
24    Australia                                    Hancock        Canada
25    Australia                                 Beidahuang         China
26    Australia                          Chinese interests         China
27    Australia                              Nanshan Group         China
28    Australia                              Nexis Holding         China
29    Australia              Shaanxi Kingbull Livestock Co         China
..          ...                                        ...           ...
386     Ukraine                                Trigon Agri       Denmark
387     Ukraine                             AgroGeneration        France
388     Ukraine                               Bärnstädt eG       Germany
389     Ukraine        Sustainable Bio Energy Holding GmbH       Germany
390     Ukraine             Ukrainian Agrarian Investments        Russia
391     Ukraine                                Alpcot Agro        Sweden
392     Ukraine                  Continental Farmers Group           UK
393     Ukraine                    Aslan Global Management            US
394     Ukraine                             Grain Alliance            US
395     Ukraine                      Kyiv-Atlantic Ukraine            US
396     Ukraine                                NCH Capital            US
397     Uruguay                                   El Tejar     Argentina
398     Uruguay                 Hillock Capital Management     Argentina
399     Uruguay                                  Los Grobo     Argentina
400     Uruguay                            Ingleby Company       Denmark
401     Uruguay                                 Calyx Agro        France
402     Uruguay                          Campos Orientales        France
403     Uruguay                         Olam International     Singapore
404     Uruguay                                  Adecoagro            US
405          US                                    Hancock        Canada
406          US                            Ingleby Company       Denmark
407          US              Agricultural Capital Partners       Ireland
408      Zambia                                  DWS GALOF       Germany
409      Zambia                         Neha International         India
410      Zambia                            Menafea Holding  Saudi Arabia
411      Zambia                      Export Trading Group      Singapore
412      Zambia                                     AG-ZAM  South Africa
413      Zambia                            Chayton Capital            UK
414      Zambia                                     Emvest            UK
415   Zimbabawe                                     Emvest            UK

                                 Sector Hectares  \
0                  Finance, real estate   31,000
1                          Construction    1,500
2                                Energy   12,000
3                  Finance, real estate    5,000
4          Energy, telecommunications\n   30,000
5                  Agribusiness, energy   10,000
6                          Agribusiness   25,000
7                          Agribusiness    7,000
8                          Agribusiness  320,000
9                               Finance   12,433
10                         Agribusiness    1,700
11                              Finance    5,719
12                              Finance   19,000
13                              Finance   70,500
14                              Finance   20,000
15                           Industrial   11,000
16                         Agribusiness  200,000
17                         Agribusiness   12,306
18                         Agribusiness   17,000
19                           Government   20,894
20                         Agribusiness  242,000
21                         Agribusiness    2,000
22                         Agribusiness    1,876
23                              Finance  252,000
24                              Finance    2,430
25                         Agribusiness   80,000
26                                  NaN    2,800
27            Industrial, real estate\n   30,000
28                         Construction    1,705
29                         Agribusiness    5,000
..                                  ...      ...
386                        Agribusiness   55,000
387                        Agribusiness   51,000
388                        Agribusiness    8,000
389                        Agribusiness   11,600
390                        Agribusiness  250,000
391                        Agribusiness   92,500
392                        Agribusiness   21,000
393                        Agribusiness    8,500
394                        Agribusiness   40,000
395                        Agribusiness   10,000
396                             Finance  450,000
397                        Agribusiness  160,000
398                             Finance    9,000
399                        Agribusiness   76,300
400                             Finance   20,110
401                             Finance   13,592
402                             Finance   24,000
403                        Agribusiness   34,000
404                        Agribusiness    8,600
405                             Finance   93,000
406                             Finance    1,427
407                             Finance    1,250
408                             Finance   27,000
409                        Agribusiness  100,000
410  Agribusiness, finance, real estate    5,000
411                        Agribusiness   57,000
412                        Agribusiness   15,000
413                             Finance   20,000
414                             Finance    2,513
415                             Finance    9,913

                                            Production Projected investment  \
0                            Milk, olive oil, potatoes                  NaN
1                                                 Rice        US$77 million
2                                             Oil palm                  NaN
3                                             Oil palm     US$30-35 million
4                                           Sugar cane       US$200 million
5                                              Oilseed                  NaN
6                                                 Rice                  NaN
7                                           Soybeans                    NaN
8                               Maize, soybeans, wheat     US$1,500 million
9            Barley, maize, soybeans, sunflower, wheat                  NaN
10                                               Crops                  NaN
11                              Crops (mainly soybean)                  NaN
12                                                 NaN                  NaN
13                                               Crops                  NaN
14                                               Crops                  NaN
15                            Soybeans and other crops                  NaN
16                                               Crops                  NaN
17                                      Maize, soybean        US$83 million
18                         Maize, peanuts and soybeans                  NaN
19                                  Forest and pasture                  NaN
20                     Cattle, dairy, grains, soybeans                  NaN
21                                              Olives                  NaN
22                                           Livestock        US$40 million
23                                                 NaN       US$415 million
24                                        Grapes, nuts                  NaN
25                               Dairy and grain farms                  NaN
26                                              Cattle       US$6.4 million
27                                      Superfine wool                  NaN
28                                      Cattle, nuts\n        US$27 million
29                                              Cattle                  NaN
..                                                 ...                  ...
386                                            Cereals                  NaN
387                                              Crops                  NaN
388  Hops, maize, oilseed rape, sugar beet, wheat, ...                  NaN
389                          Rapeseed, soybeans, wheat                  NaN
390                                              Crops                  NaN
391                                              Wheat                  NaN
392          Maize, potatoes, spring wheat, sugar beet                  NaN
393                                            Cereals                  NaN
394         Barley, maize, soybeans, sunflowers, wheat                  NaN
395                                              Crops                  NaN
396                                              Crops                  NaN
397                                            Cereals                  NaN
398                                              Crops                  NaN
399                                           Soybeans                  NaN
400             Barley, cattle, maize, soybeans, wheat                  NaN
401                                    Soybeans, wheat                  NaN
402                                              Crops                  NaN
403                                              Dairy                  NaN
404                           Cattle, grains, soybeans                  NaN
405                                              Crops                  NaN
406                                         Pistachios                  NaN
407                                              Dairy                  NaN
408                                              Crops                  NaN
409                                              Crops                  NaN
410                                              Fruit                  NaN
411                               Food crops, jatropha                  NaN
412                                         Sugar cane       US$251 million
413                                              Crops       US$85 million
414                               Banana, maize, wheat                  NaN
415                                                NaN                  NaN

         Status of deal                                            Summary
0                  Done  Al Qudra Holding is a joint-stock company esta...
1                 Done   CAMCE is a subsidiary of the China National Ma...
2            In process  The project is a joint venture between Sonango...
3                  Done  AfriAgro is a subsidiary of the Portugal-based...
4                  Done  In 2008, Portuguese conglomerate Eurico Ferrei...
5                  Done  Quifel Natural Resources is part of Portugal's...
6    Done (50-yr lease)  In 2005, all that remained of Lonrho, once one...
7                  Done  Grupo Maggi, controlled by Blairo Maggi, one o...
8             Suspended  State-owned Beidahuang is the largest farming ...
9                  Done  The Ingleby Company, which is owned by the Rau...
10                 Done  AgroGeneration is a French farmland investment...
11                 Done  Calyx Agro was established by Louis Dreyfus Co...
12                 Done  Campos Orientales is operated by Pergam Financ...
13                 Done  Terra Magna Capital is a Luxembourg-based fund...
14                 Done  The DWS GALOF fund is offered by Deutsche Bank...
15           In process  In 2011, Japan's Sojitz Corporation establishe...
16                 Done  In October 2010, in a meeting with the Governo...
17                 Done  Almarai, the largest dairy company in the Gulf...
18                 Done  Olam is an Indian non-resident company, based ...
19                 Done  The Korean government's Overseas Development C...
20                 Done  Adecoagro is a publicly traded company launche...
21                 Done  Siva Group is a company registered in Singapor...
22                 Done  In 2007, Brazilian meat giant JBS acquired US-...
23                 Done  In 2011, the Alberta Investment Management Com...
24                 Done  Hancock Agricultural Investment Group, a unit ...
25           In process  State-owned Beidahuang is the largest farming ...
26                 Done  In December 2011, the Property Observer report...
27           In process  In January 2012, the Australian Financial Revi...
28                 Done  Nexis Holdings is a Hong Kong-based company th...
29           In process  In January 2012, the Australian Financial Revi...
..                  ...                                                ...
386                Done  Joakim Helenius, the fourth-richest man in Est...
387                Done  AgroGeneration is a French farmland investment...
388                Done  Barnstädt eG is a German agricultural company,...
389                Done  Sustainable Bio Energy Holding GmbH is majorit...
390                Done  Ukrainian Agrarian Investments (UAI) is a Cypr...
391                Done  Alpcot Agro is a Swedish company established i...
392                Done  Continental Farmers Group is listed on the Lon...
393                Done  Aslan was created by Jes Tarp and Paul Larsen ...
394                Done  Grain Alliance was formed in December 2009 fro...
395                Done  US farmer David Sweere established Kyiv-Atlant...
396                Done  NCH Capital manages over US$3 billion from uni...
397                Done  El Tejar began as an association of Argentine ...
398                Done  Hillock is a company based in Argentina that p...
399                Done  Los Grobo is owned by Argentina's Grobocopatel...
400                Done  The Ingleby Company, which is owned by the Rau...
401                Done  Calyx Agro was established by Louis Dreyfus Co...
402                Done  Campos Orientales is operated by Pergam Financ...
403                Done  Olam is an Indian non-resident company, based ...
404                Done  Adecoagro is a publicly traded company launche...
405                Done  Hancock Agricultural Investment Group, a unit ...
406                Done  Ingleby also invests in Romania, Uruguay, Arge...
407                Done  Agricultural Capital Partners was founded by f...
408                Done  The DWS GALOF fund is offered by Deutsche Bank...
409                Done  Neha International is a Hyderabad-based compan...
410                Done  Menafea Holdings Ltd is a private Saudi compan...
411                Done  ETG, owned by Kenya's Patel family, is incorpo...
412                Done  In April 2011 the Zambia Development Agency an...
413                Done  Chayton Capital is a US$300-million London-bas...
414                Done  UK private equity firm Emergent Asset Manageme...
415                Done  UK private equity firm Emergent Asset Manageme...

[416 rows x 9 columns]

# 1 - Autofilter

The autofilter functionality in Excel can be easily replicated in Pandas by selecting all unique values in a column. If you want to filter by any of these values, you can filter the column as seen in the second Python snippet.

In [60]:
unique_before = data["Status of deal"].unique()
print(unique_before)

['Done' 'Done ' 'In process' 'Done (50-yr lease)' 'Suspended' 'Proposed'
 'MoU signed (2009)' 'Done\n' 'Suspended  ' 'Suspended (October 2011)']

In [61]:
print(data[data['Status of deal'] == "Done"])

    Landgrabbed                                Landgrabber          Base  \
0       Algeria                                   Al Qudra           UAE
3        Angola                                   AfriAgro      Portugal
4        Angola                            Eurico Ferreira      Portugal
5        Angola                   Quifel Natural Resources      Portugal
7     Argentina                                Grupo Maggi        Brazil
9     Argentina                            Ingleby Company       Denmark
10    Argentina                             AgroGeneration        France
11    Argentina                                 Calyx Agro        France
12    Argentina                          Campos Orientales        France
13    Argentina                        Terra Magna Capital        France
14    Argentina                                  DWS GALOF       Germany
16    Argentina                          Al-Khorayef Group  Saudi Arabia
17    Argentina                                 Almarai Co  Saudi Arabia
18    Argentina                         Olam International    Singapore
19    Argentina  Korean Overseas Development Corporation\n   South Korea
20    Argentina                                  Adecoagro            US
21   Argentina                                  Siva Group    Singapore
22    Australia                                        JBS        Brazil
23    Australia      Alberta Investment Management Company        Canada
24    Australia                                    Hancock        Canada
26    Australia                          Chinese interests         China
28    Australia                              Nexis Holding         China
30    Australia                            Ingleby Company       Denmark
31    Australia                                  DWS GALOF       Germany
32    Australia                       JPT Capital Agrifund     Mauritius
33    Australia                                Hassad Food         Qatar
34    Australia                       Wilmar International    Singapore
35    Australia                             Ho Myoung Farm   South Korea
36    Australia                   Count Gustav Wachmeister        Sweden
38    Australia                                       MHPF            UK
..          ...                                        ...           ...
386     Ukraine                                Trigon Agri       Denmark
387     Ukraine                             AgroGeneration        France
388     Ukraine                               Bärnstädt eG       Germany
389     Ukraine        Sustainable Bio Energy Holding GmbH       Germany
390     Ukraine             Ukrainian Agrarian Investments        Russia
391     Ukraine                                Alpcot Agro        Sweden
392     Ukraine                  Continental Farmers Group           UK
393     Ukraine                    Aslan Global Management            US
394     Ukraine                             Grain Alliance            US
395     Ukraine                      Kyiv-Atlantic Ukraine            US
396     Ukraine                                NCH Capital            US
397     Uruguay                                   El Tejar     Argentina
398     Uruguay                 Hillock Capital Management     Argentina
399     Uruguay                                  Los Grobo     Argentina
400     Uruguay                            Ingleby Company       Denmark
401     Uruguay                                 Calyx Agro        France
402     Uruguay                          Campos Orientales        France
403     Uruguay                         Olam International     Singapore
404     Uruguay                                  Adecoagro            US
405          US                                    Hancock        Canada
406          US                            Ingleby Company       Denmark
407          US              Agricultural Capital Partners       Ireland
408      Zambia                                  DWS GALOF       Germany
409      Zambia                         Neha International         India
410      Zambia                            Menafea Holding  Saudi Arabia
411      Zambia                      Export Trading Group      Singapore
412      Zambia                                     AG-ZAM  South Africa
413      Zambia                            Chayton Capital            UK
414      Zambia                                     Emvest            UK
415   Zimbabawe                                     Emvest            UK

                                 Sector Hectares  \
0                  Finance, real estate   31,000
3                  Finance, real estate    5,000
4          Energy, telecommunications\n   30,000
5                  Agribusiness, energy   10,000
7                          Agribusiness    7,000
9                               Finance   12,433
10                         Agribusiness    1,700
11                              Finance    5,719
12                              Finance   19,000
13                              Finance   70,500
14                              Finance   20,000
16                         Agribusiness  200,000
17                         Agribusiness   12,306
18                         Agribusiness   17,000
19                           Government   20,894
20                         Agribusiness  242,000
21                         Agribusiness    2,000
22                         Agribusiness    1,876
23                              Finance  252,000
24                              Finance    2,430
26                                  NaN    2,800
28                         Construction    1,705
30                              Finance   18,170
31                              Finance   27,000
32                              Finance   33,000
33                         Agribusiness  750,000
34                         Agribusiness    2,500
35                           Industrial  216,000
36                              Finance   15,700
38                              Finance   47,100
..                                  ...      ...
386                        Agribusiness   55,000
387                        Agribusiness   51,000
388                        Agribusiness    8,000
389                        Agribusiness   11,600
390                        Agribusiness  250,000
391                        Agribusiness   92,500
392                        Agribusiness   21,000
393                        Agribusiness    8,500
394                        Agribusiness   40,000
395                        Agribusiness   10,000
396                             Finance  450,000
397                        Agribusiness  160,000
398                             Finance    9,000
399                        Agribusiness   76,300
400                             Finance   20,110
401                             Finance   13,592
402                             Finance   24,000
403                        Agribusiness   34,000
404                        Agribusiness    8,600
405                             Finance   93,000
406                             Finance    1,427
407                             Finance    1,250
408                             Finance   27,000
409                        Agribusiness  100,000
410  Agribusiness, finance, real estate    5,000
411                        Agribusiness   57,000
412                        Agribusiness   15,000
413                             Finance   20,000
414                             Finance    2,513
415                             Finance    9,913

                                            Production Projected investment  \
0                            Milk, olive oil, potatoes                  NaN
3                                             Oil palm     US$30-35 million
4                                           Sugar cane       US$200 million
5                                              Oilseed                  NaN
7                                           Soybeans                    NaN
9            Barley, maize, soybeans, sunflower, wheat                  NaN
10                                               Crops                  NaN
11                              Crops (mainly soybean)                  NaN
12                                                 NaN                  NaN
13                                               Crops                  NaN
14                                               Crops                  NaN
16                                               Crops                  NaN
17                                      Maize, soybean        US$83 million
18                         Maize, peanuts and soybeans                  NaN
19                                  Forest and pasture                  NaN
20                     Cattle, dairy, grains, soybeans                  NaN
21                                              Olives                  NaN
22                                           Livestock        US$40 million
23                                                 NaN       US$415 million
24                                        Grapes, nuts                  NaN
26                                              Cattle       US$6.4 million
28                                      Cattle, nuts\n        US$27 million
30                                Cattle, crops, sheep                  NaN
31                                               crops                  NaN
32                                               Wheat       US$79 million
33                                        Sheep, wheat       US$400 million
34                                          Sugar cane     US$1,876 million
35                                Cattle, goats, sheep                  NaN
36                                   livestock, cereal        US$21 million
38                      Cereals, livestock, sugar cane       US$136 million
..                                                 ...                  ...
386                                            Cereals                  NaN
387                                              Crops                  NaN
388  Hops, maize, oilseed rape, sugar beet, wheat, ...                  NaN
389                          Rapeseed, soybeans, wheat                  NaN
390                                              Crops                  NaN
391                                              Wheat                  NaN
392          Maize, potatoes, spring wheat, sugar beet                  NaN
393                                            Cereals                  NaN
394         Barley, maize, soybeans, sunflowers, wheat                  NaN
395                                              Crops                  NaN
396                                              Crops                  NaN
397                                            Cereals                  NaN
398                                              Crops                  NaN
399                                           Soybeans                  NaN
400             Barley, cattle, maize, soybeans, wheat                  NaN
401                                    Soybeans, wheat                  NaN
402                                              Crops                  NaN
403                                              Dairy                  NaN
404                           Cattle, grains, soybeans                  NaN
405                                              Crops                  NaN
406                                         Pistachios                  NaN
407                                              Dairy                  NaN
408                                              Crops                  NaN
409                                              Crops                  NaN
410                                              Fruit                  NaN
411                               Food crops, jatropha                  NaN
412                                         Sugar cane       US$251 million
413                                              Crops       US$85 million
414                               Banana, maize, wheat                  NaN
415                                                NaN                  NaN

    Status of deal                                            Summary
0             Done  Al Qudra Holding is a joint-stock company esta...
3             Done  AfriAgro is a subsidiary of the Portugal-based...
4             Done  In 2008, Portuguese conglomerate Eurico Ferrei...
5             Done  Quifel Natural Resources is part of Portugal's...
7             Done  Grupo Maggi, controlled by Blairo Maggi, one o...
9             Done  The Ingleby Company, which is owned by the Rau...
10            Done  AgroGeneration is a French farmland investment...
11            Done  Calyx Agro was established by Louis Dreyfus Co...
12            Done  Campos Orientales is operated by Pergam Financ...
13            Done  Terra Magna Capital is a Luxembourg-based fund...
14            Done  The DWS GALOF fund is offered by Deutsche Bank...
16            Done  In October 2010, in a meeting with the Governo...
17            Done  Almarai, the largest dairy company in the Gulf...
18            Done  Olam is an Indian non-resident company, based ...
19            Done  The Korean government's Overseas Development C...
20            Done  Adecoagro is a publicly traded company launche...
21            Done  Siva Group is a company registered in Singapor...
22            Done  In 2007, Brazilian meat giant JBS acquired US-...
23            Done  In 2011, the Alberta Investment Management Com...
24            Done  Hancock Agricultural Investment Group, a unit ...
26            Done  In December 2011, the Property Observer report...
28            Done  Nexis Holdings is a Hong Kong-based company th...
30            Done  The Ingleby Company, which is owned by the Rau...
31            Done  The DWS GALOF fund is offered by Deutsche Bank...
32            Done  John Paul Thwaytes, a London City financial tr...
33            Done  Hassad Food is a US$1-billion company establis...
34            Done  Wilmar, one of the world's largest agricultura...
35            Done  Ho Myoung Farm is owned by the Young An Group,...
36            Done  In January 2010, Count Carl Gustav Wachmeister...
38            Done  The private UK-based pension fund of billionai...
..             ...                                                ...
386           Done  Joakim Helenius, the fourth-richest man in Est...
387           Done  AgroGeneration is a French farmland investment...
388           Done  Barnstädt eG is a German agricultural company,...
389           Done  Sustainable Bio Energy Holding GmbH is majorit...
390           Done  Ukrainian Agrarian Investments (UAI) is a Cypr...
391           Done  Alpcot Agro is a Swedish company established i...
392           Done  Continental Farmers Group is listed on the Lon...
393           Done  Aslan was created by Jes Tarp and Paul Larsen ...
394           Done  Grain Alliance was formed in December 2009 fro...
395           Done  US farmer David Sweere established Kyiv-Atlant...
396           Done  NCH Capital manages over US$3 billion from uni...
397           Done  El Tejar began as an association of Argentine ...
398           Done  Hillock is a company based in Argentina that p...
399           Done  Los Grobo is owned by Argentina's Grobocopatel...
400           Done  The Ingleby Company, which is owned by the Rau...
401           Done  Calyx Agro was established by Louis Dreyfus Co...
402           Done  Campos Orientales is operated by Pergam Financ...
403           Done  Olam is an Indian non-resident company, based ...
404           Done  Adecoagro is a publicly traded company launche...
405           Done  Hancock Agricultural Investment Group, a unit ...
406           Done  Ingleby also invests in Romania, Uruguay, Arge...
407           Done  Agricultural Capital Partners was founded by f...
408           Done  The DWS GALOF fund is offered by Deutsche Bank...
409           Done  Neha International is a Hyderabad-based compan...
410           Done  Menafea Holdings Ltd is a private Saudi compan...
411           Done  ETG, owned by Kenya's Patel family, is incorpo...
412           Done  In April 2011 the Zambia Development Agency an...
413           Done  Chayton Capital is a US$300-million London-bas...
414           Done  UK private equity firm Emergent Asset Manageme...
415           Done  UK private equity firm Emergent Asset Manageme...

[324 rows x 9 columns]

# 2 - Data validation

I have no clue what the assignment wants me to do here, so I am just going to skip it. Just in case that it wants to normalize any data: you can loop over the data and apply your changes via functions.

# 4 - Find and replace

To find and replace in Pandas, you can use the `replace` function, which either searches for a regular expression or plain text depending on the `regex` property. The `to_replace` function is the text which gets matched against the search query, the `value` property represents the value which will be inserted in its place. However, this operation will only present you the data frame and will not replace it. Therefore, you need to perform an action via the `str` object on the `String` you want to manipulate.

In [62]:
# Via the re.sub route, use this Regex (r"(.+)(?!\S)")

data['Status of deal'] = data['Status of deal'].str.strip()
print(data)

    Landgrabbed                                Landgrabber          Base  \
0       Algeria                                   Al Qudra           UAE
1        Angola                   CAMC Engineering Co. Ltd         China
2        Angola                                        ENI         Italy
3        Angola                                   AfriAgro      Portugal
4        Angola                            Eurico Ferreira      Portugal
5        Angola                   Quifel Natural Resources      Portugal
6        Angola                                     Lonrho            UK
7     Argentina                                Grupo Maggi        Brazil
8     Argentina                                 Beidahuang         China
9     Argentina                            Ingleby Company       Denmark
10    Argentina                             AgroGeneration        France
11    Argentina                                 Calyx Agro        France
12    Argentina                          Campos Orientales        France
13    Argentina                        Terra Magna Capital        France
14    Argentina                                  DWS GALOF       Germany
15    Argentina                                     Sojitz         Japan
16    Argentina                          Al-Khorayef Group  Saudi Arabia
17    Argentina                                 Almarai Co  Saudi Arabia
18    Argentina                         Olam International    Singapore
19    Argentina  Korean Overseas Development Corporation\n   South Korea
20    Argentina                                  Adecoagro            US
21   Argentina                                  Siva Group    Singapore
22    Australia                                        JBS        Brazil
23    Australia      Alberta Investment Management Company        Canada
24    Australia                                    Hancock        Canada
25    Australia                                 Beidahuang         China
26    Australia                          Chinese interests         China
27    Australia                              Nanshan Group         China
28    Australia                              Nexis Holding         China
29    Australia              Shaanxi Kingbull Livestock Co         China
..          ...                                        ...           ...
386     Ukraine                                Trigon Agri       Denmark
387     Ukraine                             AgroGeneration        France
388     Ukraine                               Bärnstädt eG       Germany
389     Ukraine        Sustainable Bio Energy Holding GmbH       Germany
390     Ukraine             Ukrainian Agrarian Investments        Russia
391     Ukraine                                Alpcot Agro        Sweden
392     Ukraine                  Continental Farmers Group           UK
393     Ukraine                    Aslan Global Management            US
394     Ukraine                             Grain Alliance            US
395     Ukraine                      Kyiv-Atlantic Ukraine            US
396     Ukraine                                NCH Capital            US
397     Uruguay                                   El Tejar     Argentina
398     Uruguay                 Hillock Capital Management     Argentina
399     Uruguay                                  Los Grobo     Argentina
400     Uruguay                            Ingleby Company       Denmark
401     Uruguay                                 Calyx Agro        France
402     Uruguay                          Campos Orientales        France
403     Uruguay                         Olam International     Singapore
404     Uruguay                                  Adecoagro            US
405          US                                    Hancock        Canada
406          US                            Ingleby Company       Denmark
407          US              Agricultural Capital Partners       Ireland
408      Zambia                                  DWS GALOF       Germany
409      Zambia                         Neha International         India
410      Zambia                            Menafea Holding  Saudi Arabia
411      Zambia                      Export Trading Group      Singapore
412      Zambia                                     AG-ZAM  South Africa
413      Zambia                            Chayton Capital            UK
414      Zambia                                     Emvest            UK
415   Zimbabawe                                     Emvest            UK

                                 Sector Hectares  \
0                  Finance, real estate   31,000
1                          Construction    1,500
2                                Energy   12,000
3                  Finance, real estate    5,000
4          Energy, telecommunications\n   30,000
5                  Agribusiness, energy   10,000
6                          Agribusiness   25,000
7                          Agribusiness    7,000
8                          Agribusiness  320,000
9                               Finance   12,433
10                         Agribusiness    1,700
11                              Finance    5,719
12                              Finance   19,000
13                              Finance   70,500
14                              Finance   20,000
15                           Industrial   11,000
16                         Agribusiness  200,000
17                         Agribusiness   12,306
18                         Agribusiness   17,000
19                           Government   20,894
20                         Agribusiness  242,000
21                         Agribusiness    2,000
22                         Agribusiness    1,876
23                              Finance  252,000
24                              Finance    2,430
25                         Agribusiness   80,000
26                                  NaN    2,800
27            Industrial, real estate\n   30,000
28                         Construction    1,705
29                         Agribusiness    5,000
..                                  ...      ...
386                        Agribusiness   55,000
387                        Agribusiness   51,000
388                        Agribusiness    8,000
389                        Agribusiness   11,600
390                        Agribusiness  250,000
391                        Agribusiness   92,500
392                        Agribusiness   21,000
393                        Agribusiness    8,500
394                        Agribusiness   40,000
395                        Agribusiness   10,000
396                             Finance  450,000
397                        Agribusiness  160,000
398                             Finance    9,000
399                        Agribusiness   76,300
400                             Finance   20,110
401                             Finance   13,592
402                             Finance   24,000
403                        Agribusiness   34,000
404                        Agribusiness    8,600
405                             Finance   93,000
406                             Finance    1,427
407                             Finance    1,250
408                             Finance   27,000
409                        Agribusiness  100,000
410  Agribusiness, finance, real estate    5,000
411                        Agribusiness   57,000
412                        Agribusiness   15,000
413                             Finance   20,000
414                             Finance    2,513
415                             Finance    9,913

                                            Production Projected investment  \
0                            Milk, olive oil, potatoes                  NaN
1                                                 Rice        US$77 million
2                                             Oil palm                  NaN
3                                             Oil palm     US$30-35 million
4                                           Sugar cane       US$200 million
5                                              Oilseed                  NaN
6                                                 Rice                  NaN
7                                           Soybeans                    NaN
8                               Maize, soybeans, wheat     US$1,500 million
9            Barley, maize, soybeans, sunflower, wheat                  NaN
10                                               Crops                  NaN
11                              Crops (mainly soybean)                  NaN
12                                                 NaN                  NaN
13                                               Crops                  NaN
14                                               Crops                  NaN
15                            Soybeans and other crops                  NaN
16                                               Crops                  NaN
17                                      Maize, soybean        US$83 million
18                         Maize, peanuts and soybeans                  NaN
19                                  Forest and pasture                  NaN
20                     Cattle, dairy, grains, soybeans                  NaN
21                                              Olives                  NaN
22                                           Livestock        US$40 million
23                                                 NaN       US$415 million
24                                        Grapes, nuts                  NaN
25                               Dairy and grain farms                  NaN
26                                              Cattle       US$6.4 million
27                                      Superfine wool                  NaN
28                                      Cattle, nuts\n        US$27 million
29                                              Cattle                  NaN
..                                                 ...                  ...
386                                            Cereals                  NaN
387                                              Crops                  NaN
388  Hops, maize, oilseed rape, sugar beet, wheat, ...                  NaN
389                          Rapeseed, soybeans, wheat                  NaN
390                                              Crops                  NaN
391                                              Wheat                  NaN
392          Maize, potatoes, spring wheat, sugar beet                  NaN
393                                            Cereals                  NaN
394         Barley, maize, soybeans, sunflowers, wheat                  NaN
395                                              Crops                  NaN
396                                              Crops                  NaN
397                                            Cereals                  NaN
398                                              Crops                  NaN
399                                           Soybeans                  NaN
400             Barley, cattle, maize, soybeans, wheat                  NaN
401                                    Soybeans, wheat                  NaN
402                                              Crops                  NaN
403                                              Dairy                  NaN
404                           Cattle, grains, soybeans                  NaN
405                                              Crops                  NaN
406                                         Pistachios                  NaN
407                                              Dairy                  NaN
408                                              Crops                  NaN
409                                              Crops                  NaN
410                                              Fruit                  NaN
411                               Food crops, jatropha                  NaN
412                                         Sugar cane       US$251 million
413                                              Crops       US$85 million
414                               Banana, maize, wheat                  NaN
415                                                NaN                  NaN

         Status of deal                                            Summary
0                  Done  Al Qudra Holding is a joint-stock company esta...
1                  Done  CAMCE is a subsidiary of the China National Ma...
2            In process  The project is a joint venture between Sonango...
3                  Done  AfriAgro is a subsidiary of the Portugal-based...
4                  Done  In 2008, Portuguese conglomerate Eurico Ferrei...
5                  Done  Quifel Natural Resources is part of Portugal's...
6    Done (50-yr lease)  In 2005, all that remained of Lonrho, once one...
7                  Done  Grupo Maggi, controlled by Blairo Maggi, one o...
8             Suspended  State-owned Beidahuang is the largest farming ...
9                  Done  The Ingleby Company, which is owned by the Rau...
10                 Done  AgroGeneration is a French farmland investment...
11                 Done  Calyx Agro was established by Louis Dreyfus Co...
12                 Done  Campos Orientales is operated by Pergam Financ...
13                 Done  Terra Magna Capital is a Luxembourg-based fund...
14                 Done  The DWS GALOF fund is offered by Deutsche Bank...
15           In process  In 2011, Japan's Sojitz Corporation establishe...
16                 Done  In October 2010, in a meeting with the Governo...
17                 Done  Almarai, the largest dairy company in the Gulf...
18                 Done  Olam is an Indian non-resident company, based ...
19                 Done  The Korean government's Overseas Development C...
20                 Done  Adecoagro is a publicly traded company launche...
21                 Done  Siva Group is a company registered in Singapor...
22                 Done  In 2007, Brazilian meat giant JBS acquired US-...
23                 Done  In 2011, the Alberta Investment Management Com...
24                 Done  Hancock Agricultural Investment Group, a unit ...
25           In process  State-owned Beidahuang is the largest farming ...
26                 Done  In December 2011, the Property Observer report...
27           In process  In January 2012, the Australian Financial Revi...
28                 Done  Nexis Holdings is a Hong Kong-based company th...
29           In process  In January 2012, the Australian Financial Revi...
..                  ...                                                ...
386                Done  Joakim Helenius, the fourth-richest man in Est...
387                Done  AgroGeneration is a French farmland investment...
388                Done  Barnstädt eG is a German agricultural company,...
389                Done  Sustainable Bio Energy Holding GmbH is majorit...
390                Done  Ukrainian Agrarian Investments (UAI) is a Cypr...
391                Done  Alpcot Agro is a Swedish company established i...
392                Done  Continental Farmers Group is listed on the Lon...
393                Done  Aslan was created by Jes Tarp and Paul Larsen ...
394                Done  Grain Alliance was formed in December 2009 fro...
395                Done  US farmer David Sweere established Kyiv-Atlant...
396                Done  NCH Capital manages over US$3 billion from uni...
397                Done  El Tejar began as an association of Argentine ...
398                Done  Hillock is a company based in Argentina that p...
399                Done  Los Grobo is owned by Argentina's Grobocopatel...
400                Done  The Ingleby Company, which is owned by the Rau...
401                Done  Calyx Agro was established by Louis Dreyfus Co...
402                Done  Campos Orientales is operated by Pergam Financ...
403                Done  Olam is an Indian non-resident company, based ...
404                Done  Adecoagro is a publicly traded company launche...
405                Done  Hancock Agricultural Investment Group, a unit ...
406                Done  Ingleby also invests in Romania, Uruguay, Arge...
407                Done  Agricultural Capital Partners was founded by f...
408                Done  The DWS GALOF fund is offered by Deutsche Bank...
409                Done  Neha International is a Hyderabad-based compan...
410                Done  Menafea Holdings Ltd is a private Saudi compan...
411                Done  ETG, owned by Kenya's Patel family, is incorpo...
412                Done  In April 2011 the Zambia Development Agency an...
413                Done  Chayton Capital is a US$300-million London-bas...
414                Done  UK private equity firm Emergent Asset Manageme...
415                Done  UK private equity firm Emergent Asset Manageme...

[416 rows x 9 columns]

To prove that all trailing whitespaces have been removed, I will show you the unique values of the original data set and the cleaned data set:

In [63]:
unique_after = data["Status of deal"].unique()
print(unique_before)
print(unique_after)

['Done' 'Done ' 'In process' 'Done (50-yr lease)' 'Suspended' 'Proposed'
 'MoU signed (2009)' 'Done\n' 'Suspended  ' 'Suspended (October 2011)']
['Done' 'In process' 'Done (50-yr lease)' 'Suspended' 'Proposed'
 'MoU signed (2009)' 'Suspended (October 2011)']

# 5 - Paste special

The paste special functionality does not exist and shouldn't exist for the following simple reason:

> The data represented in the CSV, or any other given data format, should just be in its raw form, not in formulas. When the data is represented in macro-form, formulas, or any other given format, their should be a special parser written for this kind of data.

# 6 - Pivot tables

In [69]:
result = data.pivot_table(columns='Base', values='Landgrabbed', index=data.index, aggfunc=lambda x: len(x.unique()))
#remove Multiindex in columns
print (result)

Base  Argentina  Australia  Bahrain  Bangladesh  Belgium  Bermuda  Brazil  \
0           NaN        NaN      NaN         NaN      NaN      NaN     NaN
1           NaN        NaN      NaN         NaN      NaN      NaN     NaN
2           NaN        NaN      NaN         NaN      NaN      NaN     NaN
3           NaN        NaN      NaN         NaN      NaN      NaN     NaN
4           NaN        NaN      NaN         NaN      NaN      NaN     NaN
5           NaN        NaN      NaN         NaN      NaN      NaN     NaN
6           NaN        NaN      NaN         NaN      NaN      NaN     NaN
7           NaN        NaN      NaN         NaN      NaN      NaN     1.0
8           NaN        NaN      NaN         NaN      NaN      NaN     NaN
9           NaN        NaN      NaN         NaN      NaN      NaN     NaN
10          NaN        NaN      NaN         NaN      NaN      NaN     NaN
11          NaN        NaN      NaN         NaN      NaN      NaN     NaN
12          NaN        NaN      NaN         NaN      NaN      NaN     NaN
13          NaN        NaN      NaN         NaN      NaN      NaN     NaN
14          NaN        NaN      NaN         NaN      NaN      NaN     NaN
15          NaN        NaN      NaN         NaN      NaN      NaN     NaN
16          NaN        NaN      NaN         NaN      NaN      NaN     NaN
17          NaN        NaN      NaN         NaN      NaN      NaN     NaN
18          NaN        NaN      NaN         NaN      NaN      NaN     NaN
19          NaN        NaN      NaN         NaN      NaN      NaN     NaN
20          NaN        NaN      NaN         NaN      NaN      NaN     NaN
21          NaN        NaN      NaN         NaN      NaN      NaN     NaN
22          NaN        NaN      NaN         NaN      NaN      NaN     1.0
23          NaN        NaN      NaN         NaN      NaN      NaN     NaN
24          NaN        NaN      NaN         NaN      NaN      NaN     NaN
25          NaN        NaN      NaN         NaN      NaN      NaN     NaN
26          NaN        NaN      NaN         NaN      NaN      NaN     NaN
27          NaN        NaN      NaN         NaN      NaN      NaN     NaN
28          NaN        NaN      NaN         NaN      NaN      NaN     NaN
29          NaN        NaN      NaN         NaN      NaN      NaN     NaN
..          ...        ...      ...         ...      ...      ...     ...
386         NaN        NaN      NaN         NaN      NaN      NaN     NaN
387         NaN        NaN      NaN         NaN      NaN      NaN     NaN
388         NaN        NaN      NaN         NaN      NaN      NaN     NaN
389         NaN        NaN      NaN         NaN      NaN      NaN     NaN
390         NaN        NaN      NaN         NaN      NaN      NaN     NaN
391         NaN        NaN      NaN         NaN      NaN      NaN     NaN
392         NaN        NaN      NaN         NaN      NaN      NaN     NaN
393         NaN        NaN      NaN         NaN      NaN      NaN     NaN
394         NaN        NaN      NaN         NaN      NaN      NaN     NaN
395         NaN        NaN      NaN         NaN      NaN      NaN     NaN
396         NaN        NaN      NaN         NaN      NaN      NaN     NaN
397         1.0        NaN      NaN         NaN      NaN      NaN     NaN
398         1.0        NaN      NaN         NaN      NaN      NaN     NaN
399         1.0        NaN      NaN         NaN      NaN      NaN     NaN
400         NaN        NaN      NaN         NaN      NaN      NaN     NaN
401         NaN        NaN      NaN         NaN      NaN      NaN     NaN
402         NaN        NaN      NaN         NaN      NaN      NaN     NaN
403         NaN        NaN      NaN         NaN      NaN      NaN     NaN
404         NaN        NaN      NaN         NaN      NaN      NaN     NaN
405         NaN        NaN      NaN         NaN      NaN      NaN     NaN
406         NaN        NaN      NaN         NaN      NaN      NaN     NaN
407         NaN        NaN      NaN         NaN      NaN      NaN     NaN
408         NaN        NaN      NaN         NaN      NaN      NaN     NaN
409         NaN        NaN      NaN         NaN      NaN      NaN     NaN
410         NaN        NaN      NaN         NaN      NaN      NaN     NaN
411         NaN        NaN      NaN         NaN      NaN      NaN     NaN
412         NaN        NaN      NaN         NaN      NaN      NaN     NaN
413         NaN        NaN      NaN         NaN      NaN      NaN     NaN
414         NaN        NaN      NaN         NaN      NaN      NaN     NaN
415         NaN        NaN      NaN         NaN      NaN      NaN     NaN

Base  Brunei  Bulgaria  Canada     ...       Sweden  Switzerland  Thailand  \
0        NaN       NaN     NaN     ...          NaN          NaN       NaN
1        NaN       NaN     NaN     ...          NaN          NaN       NaN
2        NaN       NaN     NaN     ...          NaN          NaN       NaN
3        NaN       NaN     NaN     ...          NaN          NaN       NaN
4        NaN       NaN     NaN     ...          NaN          NaN       NaN
5        NaN       NaN     NaN     ...          NaN          NaN       NaN
6        NaN       NaN     NaN     ...          NaN          NaN       NaN
7        NaN       NaN     NaN     ...          NaN          NaN       NaN
8        NaN       NaN     NaN     ...          NaN          NaN       NaN
9        NaN       NaN     NaN     ...          NaN          NaN       NaN
10       NaN       NaN     NaN     ...          NaN          NaN       NaN
11       NaN       NaN     NaN     ...          NaN          NaN       NaN
12       NaN       NaN     NaN     ...          NaN          NaN       NaN
13       NaN       NaN     NaN     ...          NaN          NaN       NaN
14       NaN       NaN     NaN     ...          NaN          NaN       NaN
15       NaN       NaN     NaN     ...          NaN          NaN       NaN
16       NaN       NaN     NaN     ...          NaN          NaN       NaN
17       NaN       NaN     NaN     ...          NaN          NaN       NaN
18       NaN       NaN     NaN     ...          NaN          NaN       NaN
19       NaN       NaN     NaN     ...          NaN          NaN       NaN
20       NaN       NaN     NaN     ...          NaN          NaN       NaN
21       NaN       NaN     NaN     ...          NaN          NaN       NaN
22       NaN       NaN     NaN     ...          NaN          NaN       NaN
23       NaN       NaN     1.0     ...          NaN          NaN       NaN
24       NaN       NaN     1.0     ...          NaN          NaN       NaN
25       NaN       NaN     NaN     ...          NaN          NaN       NaN
26       NaN       NaN     NaN     ...          NaN          NaN       NaN
27       NaN       NaN     NaN     ...          NaN          NaN       NaN
28       NaN       NaN     NaN     ...          NaN          NaN       NaN
29       NaN       NaN     NaN     ...          NaN          NaN       NaN
..       ...       ...     ...     ...          ...          ...       ...
386      NaN       NaN     NaN     ...          NaN          NaN       NaN
387      NaN       NaN     NaN     ...          NaN          NaN       NaN
388      NaN       NaN     NaN     ...          NaN          NaN       NaN
389      NaN       NaN     NaN     ...          NaN          NaN       NaN
390      NaN       NaN     NaN     ...          NaN          NaN       NaN
391      NaN       NaN     NaN     ...          1.0          NaN       NaN
392      NaN       NaN     NaN     ...          NaN          NaN       NaN
393      NaN       NaN     NaN     ...          NaN          NaN       NaN
394      NaN       NaN     NaN     ...          NaN          NaN       NaN
395      NaN       NaN     NaN     ...          NaN          NaN       NaN
396      NaN       NaN     NaN     ...          NaN          NaN       NaN
397      NaN       NaN     NaN     ...          NaN          NaN       NaN
398      NaN       NaN     NaN     ...          NaN          NaN       NaN
399      NaN       NaN     NaN     ...          NaN          NaN       NaN
400      NaN       NaN     NaN     ...          NaN          NaN       NaN
401      NaN       NaN     NaN     ...          NaN          NaN       NaN
402      NaN       NaN     NaN     ...          NaN          NaN       NaN
403      NaN       NaN     NaN     ...          NaN          NaN       NaN
404      NaN       NaN     NaN     ...          NaN          NaN       NaN
405      NaN       NaN     1.0     ...          NaN          NaN       NaN
406      NaN       NaN     NaN     ...          NaN          NaN       NaN
407      NaN       NaN     NaN     ...          NaN          NaN       NaN
408      NaN       NaN     NaN     ...          NaN          NaN       NaN
409      NaN       NaN     NaN     ...          NaN          NaN       NaN
410      NaN       NaN     NaN     ...          NaN          NaN       NaN
411      NaN       NaN     NaN     ...          NaN          NaN       NaN
412      NaN       NaN     NaN     ...          NaN          NaN       NaN
413      NaN       NaN     NaN     ...          NaN          NaN       NaN
414      NaN       NaN     NaN     ...          NaN          NaN       NaN
415      NaN       NaN     NaN     ...          NaN          NaN       NaN

Base  UAE   UK  UK    US  US   Vietnam  West Africa
0     1.0  NaN  NaN  NaN  NaN      NaN          NaN
1     NaN  NaN  NaN  NaN  NaN      NaN          NaN
2     NaN  NaN  NaN  NaN  NaN      NaN          NaN
3     NaN  NaN  NaN  NaN  NaN      NaN          NaN
4     NaN  NaN  NaN  NaN  NaN      NaN          NaN
5     NaN  NaN  NaN  NaN  NaN      NaN          NaN
6     NaN  1.0  NaN  NaN  NaN      NaN          NaN
7     NaN  NaN  NaN  NaN  NaN      NaN          NaN
8     NaN  NaN  NaN  NaN  NaN      NaN          NaN
9     NaN  NaN  NaN  NaN  NaN      NaN          NaN
10    NaN  NaN  NaN  NaN  NaN      NaN          NaN
11    NaN  NaN  NaN  NaN  NaN      NaN          NaN
12    NaN  NaN  NaN  NaN  NaN      NaN          NaN
13    NaN  NaN  NaN  NaN  NaN      NaN          NaN
14    NaN  NaN  NaN  NaN  NaN      NaN          NaN
15    NaN  NaN  NaN  NaN  NaN      NaN          NaN
16    NaN  NaN  NaN  NaN  NaN      NaN          NaN
17    NaN  NaN  NaN  NaN  NaN      NaN          NaN
18    NaN  NaN  NaN  NaN  NaN      NaN          NaN
19    NaN  NaN  NaN  NaN  NaN      NaN          NaN
20    NaN  NaN  NaN  1.0  NaN      NaN          NaN
21    NaN  NaN  NaN  NaN  NaN      NaN          NaN
22    NaN  NaN  NaN  NaN  NaN      NaN          NaN
23    NaN  NaN  NaN  NaN  NaN      NaN          NaN
24    NaN  NaN  NaN  NaN  NaN      NaN          NaN
25    NaN  NaN  NaN  NaN  NaN      NaN          NaN
26    NaN  NaN  NaN  NaN  NaN      NaN          NaN
27    NaN  NaN  NaN  NaN  NaN      NaN          NaN
28    NaN  NaN  NaN  NaN  NaN      NaN          NaN
29    NaN  NaN  NaN  NaN  NaN      NaN          NaN
..    ...  ...  ...  ...  ...      ...          ...
386   NaN  NaN  NaN  NaN  NaN      NaN          NaN
387   NaN  NaN  NaN  NaN  NaN      NaN          NaN
388   NaN  NaN  NaN  NaN  NaN      NaN          NaN
389   NaN  NaN  NaN  NaN  NaN      NaN          NaN
390   NaN  NaN  NaN  NaN  NaN      NaN          NaN
391   NaN  NaN  NaN  NaN  NaN      NaN          NaN
392   NaN  NaN  1.0  NaN  NaN      NaN          NaN
393   NaN  NaN  NaN  1.0  NaN      NaN          NaN
394   NaN  NaN  NaN  1.0  NaN      NaN          NaN
395   NaN  NaN  NaN  1.0  NaN      NaN          NaN
396   NaN  NaN  NaN  1.0  NaN      NaN          NaN
397   NaN  NaN  NaN  NaN  NaN      NaN          NaN
398   NaN  NaN  NaN  NaN  NaN      NaN          NaN
399   NaN  NaN  NaN  NaN  NaN      NaN          NaN
400   NaN  NaN  NaN  NaN  NaN      NaN          NaN
401   NaN  NaN  NaN  NaN  NaN      NaN          NaN
402   NaN  NaN  NaN  NaN  NaN      NaN          NaN
403   NaN  NaN  NaN  NaN  NaN      NaN          NaN
404   NaN  NaN  NaN  1.0  NaN      NaN          NaN
405   NaN  NaN  NaN  NaN  NaN      NaN          NaN
406   NaN  NaN  NaN  NaN  NaN      NaN          NaN
407   NaN  NaN  NaN  NaN  NaN      NaN          NaN
408   NaN  NaN  NaN  NaN  NaN      NaN          NaN
409   NaN  NaN  NaN  NaN  NaN      NaN          NaN
410   NaN  NaN  NaN  NaN  NaN      NaN          NaN
411   NaN  NaN  NaN  NaN  NaN      NaN          NaN
412   NaN  NaN  NaN  NaN  NaN      NaN          NaN
413   NaN  1.0  NaN  NaN  NaN      NaN          NaN
414   NaN  1.0  NaN  NaN  NaN      NaN          NaN
415   NaN  1.0  NaN  NaN  NaN      NaN          NaN

[416 rows x 63 columns]

# 7 - Regular expressions

You can search with regular expressions like any other condition. The condition just needs to return `True` for it to be included in the result. In this case, I am going to search for results which contain a comma in the numbers.

In [ ]:
tmp_data = data[~pd.isnull(data["Projected investment"])]
tmp_data = tmp_data[tmp_data["Projected investment"].str.contains("\\d+\\,\\d+", regex=True)]
print(tmp_data)

# 9 - Different formulae

See the code above.